<main class="login-wrapper">
  <mat-card class="card">
    <mat-card-title class="margin-top__50 card-title">
      <img
        src="assets/images/Unlock.svg"
        alt="unlocked padlock"
        height="35"
        width="30"
      />
    </mat-card-title>
    <mat-card-subtitle
      class="color-black font-exo__2 font-size__24 font-bold margin-top__20 card-title"
    >
      Prijavi se
    </mat-card-subtitle>
    <mat-card-content class="color-gray font-exo__2 font-size__14">
      <section class="text-center">
        Da biste pristupili aplikaciji potrebno je da izvršite prijavu.
        <b>Ukoliko niste registrirani</b>, javite se nadređenom sa zahtjevom da
        vam se omogući pristup sistemu.
      </section>
      <app-login-form></app-login-form>
    </mat-card-content>
  </mat-card>
</main>
