.wrapper-401 {
  background: #f6faff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-401 {
  font-size: 100px;
  margin-bottom: 30px;
}

.text {
  font-size: 28px;
  margin-top: 60px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
